<fieldset>

      <label for="id">ID</label><br/>
      <input type="text" id="id" name="id" readonly=""></input><br/>
      <a href="#" id="editid">edit ID</a><br/>

      <label for="category">Category</label><br/>
      <select type="text" name="category" value="general">
            <option>tech</option>
            <option>music</option>
            <option>gaming</option>
            <option>general</option>
      </select><br/>

      <label for="title">Title</label><br/>
      <input type="text" name="title" value="No title entered"></input><br/>

      <label for="subtitle">Subtitle</label><br/>
      <input type="text" name="subtitle"></input><br/>

      <label for="date">Date</label><br/>
      <input type="text" name="date" id="date"></input><br/>

      <label for="mainimg">Main Image URL</label><br/>
      <input type="text" name="mainimg" value="http://placehold.it/640x300"></input><br/>

      <label for="subimg">Secondary Image URL</label><br/>
      <input type="text" name="subimg" value="http://placehold.it/200x100"></input><br/>

      <label for="preview">Preview Content</label><br/>
      <input type="text" name="preview"></input><br/>

      <label for="cta">Call to Action</label><br/>
      <input type="text" name="cta" value="Go"></input><br/>

      <label for="bodycopy">Body Content</label><br/>
      <textarea rows="4" cols="50" name="bodycopy"></textarea><br/>

      <button>Upload</button>

</fieldset>